.discover-container {
  padding: 20px;
  padding-bottom: 80px;
  color: white;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  color: white;
  margin-bottom: 20px;
}

.categories h3 {
  margin-bottom: 10px;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
}

.game-card-small {
  background-color: #444;
  height: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
