.feed-container {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: black;
}

.feed-item {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  border-bottom: 1px solid #222;
}

.play-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fe2c55;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
